<h2>Awesome buckletlist App</h2>

<table id="table">
    <thead>
        <tr>
            <td>Priority Level</td>
            <td>Title</td>
            <td>Description</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let list of lists'>
            <td>{{list.category}}</td>
            <td>{{list.title}}</td>
            <td>{{list.description}}</td>
            <td><button type="button" (click)='deleteList(list);$event.stopPropagation();'>Delete</button></td>
        </tr>
    </tbody>
</table>

<app-add-list (addList)='onAddList($event)'></app-add-list>